body{
    font-family: 'Titillium Web', sans-serif;
}

h2{
    font-size: 48px;
    margin-bottom: 30px;
}

section{
    padding: 110px 0;
}

#galery a:hover { text-decoration: none; }

.navbar{
    background-color: #1a1a1a;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.navbar-brand{
    color:#ffffff;
    min-height: 40px;
}

.navbar-brand:hover{
    color: gray;
}

.nav-link{ 
    color:#ffffff;
}

.nav-link:hover{ 
    color: gray;
}

.form-cine{
    min-height: 300px;
    padding-top: 90px;
    margin-bottom: 100px;
}

.listmovie-container{
    height: 40px;
    padding-top: 20px;
}

.listcinema-container{
    padding-top: 90px;
}

.btn{
    min-width: 255px;
}

.footer{
    min-height: 100px;
    padding-top: 50px;
}

.movie-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.movie-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 4;
}

.movie-details a h3{
    color: #ffffff;
}

.movie-details h3{
    margin-bottom: 0px;
}